{% extends 'base.html' %}
{% load static %}
{% block 'main'  %}
<div class="container">
<div class="row">
    <div class="col-md-12">
        <H2>About us</H2>
        <hr>
        <p>Welcome to our car-selling platform, where automotive dreams become reality! At Car-Market, we pride ourselves on being more than just a marketplace; we are enthusiasts, advocates, and experts dedicated to connecting buyers and sellers in the pursuit of the perfect ride. With a passion for cars that runs deep, our team has crafted a user-friendly space where individuals can seamlessly navigate through a diverse array of vehicles. Whether you're on the hunt for a sleek sedan, a rugged off-roader, or a fuel-efficient compact, we've got you covered. Our commitment to transparency, reliability, and customer satisfaction sets us apart, ensuring a trustworthy and enjoyable experience for both buyers and sellers alike. Join us on the road to automotive excellence, where every click brings you closer to your next adventure on four wheels.</p>
    </div>
        <div class="row">
        <div class="col-md-6">
            <h2>Vission</h2>
            <p>At our car-selling platform, our vision is to redefine the automotive marketplace by providing an unparalleled and seamless experience for both buyers and sellers. We envision a future where individuals can effortlessly connect to buy or sell their vehicles with confidence, transparency, and efficiency. Our commitment extends beyond mere transactions; we aspire to cultivate a community where trust is paramount, and every interaction is characterized by fairness and satisfaction. By leveraging cutting-edge technology and innovative solutions, we aim to empower users to make informed decisions, ensuring that their journey through the car-selling process is not only successful but also enjoyable</p>
        </div>
            <div class="col-md-6">
        <h2>Mission</h2>
        <p>At our car selling website, our mission is to redefine the car-buying experience by providing a seamless and transparent platform for both buyers and sellers. We aim to connect individuals with their perfect vehicles, fostering trust and confidence throughout the entire process. Our commitment extends beyond just facilitating transactions; we strive to create a community where automotive enthusiasts can explore, compare, and make informed decisions. With a focus on innovation and user-centric design, we seek to simplify the car-selling process, making it convenient, efficient, and enjoyable</p>
            </div>
    </div>
    
   </div>
   <!--statistics start-->

   <h2 class="mt-4">Statistics</h2>
   <hr>
   <div class="row">
       <div class="col-md-4 mt-4 shadow p-3">
           <h4 class="text-danger text-center">10000+</h4>
           <h4 class="text-center"> Happy Customers</h4>
           <hr> 
       </div>
       <div class="col-md-4 mt-4 shadow p-3">
           <h4 class="text-danger text-center">20000+</h4>
           <h4 class="text-center"> ORDERED DELIVERED</h4>
           <hr> 
       </div>
       <div class="col-md-4 mt-4 shadow p-3">
           <h4 class="text-danger text-center">600+</h4>
           <h4 class="text-center"> PRODUCTS</h4>
           <hr> 
       </div>
   </div>
</div>
   {% endblock 'main' %}