<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products</title>
    <link rel="stylesheet" href="static/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
   
</head>
<body>
    <h1></h1>
    <script src="static/static/js/bootstrap.min.js"></script>
    <script src="static/static/js/poppper.js"></script>
<div class="container">
<div class="row">
    <div class="col-md-4 p-4" style="background-color: darkcyan;" >
      <h5>Adress</h5>
      <hr>
        Near Akurdi railway station<br>
        Akurdi<br> 
        Chinchwad <br>
        Pune,411019
    </div>
    <div class="col-md-4  p-4" style="background-color: darkcyan;" >
        <h5> Socail Media </h5>
        <hr>
        <a href="/index" class="anchor"> <strong> Home </strong> </a> <br>
        <a href="/contact" class="anchor"> <strong> Contact </strong> </a> <br>
        <a href="/about" class="anchor"> <strong> About </strong> </a> <br>
    </div>
    <div class="col-md-4  p-4" style="background-color: darkcyan;" >
        <h5>connect us</h5>
        <hr>
        <h5 class="socail"> <a href="https://www.instagram.com" target="_self"><i class="bi bi-instagram"></i></a>Instagram</h5>
        <h5 class="socail"> <a href="https://www.facebook.com" target="_self"><i class="bi bi-facebook"></i></a>facebook</h5>
    </div>
</div>
</div>
</body>
</html>