{% extends 'base.html' %}
{% load static %}
{% block 'main'  %}
<div class="container">
<div class="row">
   <div class="col-md-8 mt-4 mx-auto">
        <div class="row">
          {% for x in products  %}
         <div class="col-md-6">
             <img src="{{x.pimage.url}}" alt="" width="250px" height="250px">
         </div>
         <div class="col-md-6">
           <p><strong>Product name:</strong>&nbsp;&nbsp;{{x.name}}</p>
          <p><strong>Price:</strong>&nbsp;&nbsp;{{x.price}}</p>
          
           {% if x.cat == 1 %}
           <p><strong>category:</strong>&nbsp;&nbsp;Small SUV</p>
           {% elif x.cat == 2 %}
           <p><strong>category:</strong>&nbsp;&nbsp;Medium SUV</p>
           {% else %}
           <p><strong>category:</strong>&nbsp;&nbsp;Large SUV</p>
           {% endif %}

           <p><strong>Product Details</strong>&nbsp;&nbsp;{{x.details}}</p>
          
           <br>
           <a href="/addtocart/{{x.id}}"><button class="btn btn-danger">Add to Cart</button></a>
           <a href="/viewcart"><button class="btn btn-danger">View cart</button></a>
           <a href="/home"><button class="btn btn-danger">Shope more</button></a>
         </div>
         {% endfor %}
        </div>
   </div>
   </div> 
   </div>
{% endblock 'main' %}