{% extends 'base.html' %}
{% load static %}
{% block 'main'  %}
    <div class="container">
       <div class="row mt-5" >
            <div class="col-md-4 mt-5 max-auto shadow">
                <h2 class="mb-5 text-center"><strong>User Registration</strong></h2>  
                {% if errormsg %}
                <div class="alert alert-danger">
                    {{errormsg}}
                </div>
                {% endif %}
                <form method="POST" action=" ">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="Input2" class="form-label"><strong>Username</strong></label>
                        <input type="text" class="form-control" id="Input4" name="Username" placeholder="Enter Username">
                    </div>
                    <div class="mb-3">
                        <label for="Input2" class="form-label"><strong>moblieno</strong></label>
                        <input type="number" class="form-control" id="Input3" name="unum" placeholder="+91">
                    </div>
                    <div class="mb-3">
                        <label for="Input1" class="form-label"><strong>Username:</strong></label>
                        <input type="email" class="form-control" id="Input1" name="uname" placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="Input2" class="form-label"><strong>password:</strong></label>
                        <input type="password" class="form-control" id="Input2" name="upass" placeholder="enter password">
                    </div>
                    <div class="mb-3">
                        <input type="submit" class="btn btn-danger" value="Register">
                        Already user?<a href="login.html">Login</a>

                    </div>
                    {% if success %}
                    <div class="alert alert-danger">
                        {{ success }}
                    </div>
                    {% endif %}
                </form>
            </div> 
        </div>
    </div>
{% endblock 'main' %}